alias edit_zshrc="vim ~/.zshrc"
alias source_zshrc="source ~/.zshrc"

###############################################################
# git
###############################################################
alias git-clean="git branch | grep -v "master" | xargs git branch -D"

###############################################################
# java
###############################################################
alias checkstyle="./gradlew checkstyleMain checkstyleTest"

###############################################################
# other
###############################################################
alias neovim="nvim"
