alias edit_zshrc="vim ~/.zshrc"
alias source_zshrc="source ~/.zshrc"

###############################################################
# git
###############################################################
# See https://github.com/seachicken/gh-poi
alias git-clean="gh poi"
alias refresh="git checkout master && git pull && git-clean"

###############################################################
# java
###############################################################
alias checkstyle="./gradlew checkstyleMain checkstyleTest"

###############################################################
# other
###############################################################
alias neovim="nvim"
